.indi{
    background-color: #EEEDEE;
    width: 90vw;
    margin: 0 auto;
}
.btn22{
    border-radius:40px;
    background-color:#E4E4E4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 30px;
    width: 67vw;
    height: 6vh;
    margin-left: 40px;
}
.btn22 button{
    background-color: transparent;
    border-radius: 40px;
    color: black;
    border: none;
    transition: 0.4s ease-in-out;
}
.btn22 button.active{
    background-color: white;
}
@media (min-width:992px){
    .indi{
        background-color: #EEEDEE;
        width: 40vw;
    }
    .btn22{
    width: 32vw;

    }
}